In [80]:
import pandas as pd
import numpy as np
import os

In [2]:
f = open(os.getcwd() + '/asylum_clean_chicago_eoirstrictconsec3_1.csv')
f.close()

In [77]:
data = pd.read_csv(os.getcwd() + '/asylum_clean_chicago_eoirstrictconsec3_1.csv', low_memory=False)

In [31]:
f2 = open(os.getcwd() + '/column_names.txt', 'r+')

In [4]:
data[["democrat", "republican"]].corr()

            democrat  republican
democrat           1          -1
republican        -1           1

In [50]:
pd.unique(data["DateofAppointment"])

array(['01mar1995', '01dec2010', 'Nov-05', 'Jul-87', nan, '01oct2010',
       'Aug-10', 'Sep-66', '01may2006', '01apr2003', 'Mar-95', 'Aug-89',
       'Apr-97', 'Oct 10', 'Apr-98', '01jul2011', '01oct1984', '01mar1990',
       'Aug-02', '01jun2003', 'Dec 10', 'Sep-95', '01sep1994', 'Apr-06',
       'Mar-93', '01jul1990', 'Nov-09', 'Jun-90', '01apr1997', 'Jan-83',
       'May-06', 'Sep-94', '01feb1976', 'Feb-86', '03jan2003', '01oct1998',
       '01oct1995', 'Mar 12', 'Jan-90', '01may2005', '01feb1994',
       '01jan1991', 'Jun-98', 'Dec-00', '01feb1995', 'Apr-93', '01jun2004',
       '01sep1995', 'May-90', 'Aug-85', '01sep1993', 'Aug-93', 'Mar-08',
       'May-97', 'Oct-94', '01feb2003', '01jun1997', '01sep2006', 'Mar-97',
       '01nov1995', 'May-08', 'Feb-95', 'Jan-87', 'Apr-09', 'Apr-95',
       '01jan1995', '01may1997', '01oct2006', '01jul1995', '01jan2006',
       '01mar1986', 'Jul-95', 'Oct-05', 'Mar-06', '01apr2004', 'Jan-02',
       'Apr-02', 'Jun-04', 'Feb-94', '01feb1982', 'Mar-05', '01oct2005',
       '01aug1995', '01feb2005', 'Jun-89', '01nov1996', '01aug2008',
       'Jan-03', '01jul1986', '01dec1994', 'Sep-06', 'Dec-90', 'Jul-85',
       '01oct1986', 'Oct-98', '01apr2010', 'Oct-72', '01apr1998',
       '01dec1990', 'Aug-94', '01mar2008', '01jul2006', '01oct1982',
       '01apr2009', '01aug1998', '01may2002', '01jul1987', 'Oct-95',
       'Feb-05', 'Jun-02', '01jun1990', 'Jan-09', 'Nov-83', '01sep1980',
       '01jan2002', 'Apr-90', '01mar1997', '01aug2010', '01mar1996',
       'Jul-99', '01apr1995', '01apr1991', '01jan1999', 'Dec-95',
       '01may2001', 'Nov-95', '01nov1983', '01apr1989', 'Dec-05',
       '01apr2006', 'Dec-98', 'Nov-06', 'Oct-10', 'Jan-94', 'Aug-00',
       '01aug2003', '01nov1975', '01apr1977', 'Jul-89', 'Jun-82',
       '01dec2000', '01feb2002', 'Jan-91', 'Mar-90', 'Aug-08', 'Apr-03',
       '01apr1984', '01jun1998', 'Jun-87', 'Jan-84', '01nov2006',
       '01jan2007', '01dec1995', '01apr1993', 'Jul-86', 'Nov-11', 'Mar-99',
       'May-94', '01jan2005', '01nov2011', 'Apr-10', '01nov1993',
       '01mar2011', '01sep1997', 'Nov-87', 'Jun-06', '01jan2003',
       '01nov1998', 'Oct-73', '01jan2009', '01jun2002', '01oct1993',
       'Jan-86', 'Sep-98', '01apr2002', 'May-05', '01jun1993', 'Jan-05'], dtype=object)

In [45]:
datestring = "01nov1995"

In [46]:
import datetime

In [78]:
raw_data = data

In [81]:
# DateofAppointment comes in all different formats so let's transform the dates to a datetime object
raw_data["DateofAppointment_formatted"] = raw_data["DateofAppointment"]
for datestring in pd.unique(raw_data["DateofAppointment"][raw_data["DateofAppointment"].notnull()]):
    try: 
        date = datetime.datetime.strptime(datestring, "%d%b%Y").date()
    except ValueError:
        if datestring[3] == "-":
            date = datetime.datetime.strptime(datestring, "%b-%y").date()
        else:
            date = datetime.datetime.strptime(datestring, "%b %y").date()
    raw_data["DateofAppointment_formatted"][raw_data["DateofAppointment"] == datestring] = date

# comp_date is given in number of days since January 1, 1960, so let's also transform this to a datetime object
dates_available = raw_data["comp_date"][raw_data["comp_date"].notnull()]  
raw_data["comp_date_formatted"] = raw_data["comp_date"]
raw_data["comp_date_formatted"] = [datetime.date(1960, 1, 1) + datetime.timedelta(i) for i in dates_available]

# Now let's create a numeric feature that gives the number of days since the judge's appointment 
# up to the current decision, nan if DateofAppointment is missing for that judge
subset = raw_data[raw_data["comp_date_formatted"].notnull() & raw_data["DateofAppointment_formatted"].notnull()]
timediff = [(a-b).days for (a,b) in zip(subset["comp_date_formatted"], subset["DateofAppointment_formatted"])]
raw_data["TimeSinceAppointment"] = np.nan * np.zeros(len(raw_data))
raw_data["TimeSinceAppointment"][raw_data["comp_date_formatted"].notnull() 
                                 & raw_data["DateofAppointment_formatted"].notnull()] = timediff

In [117]:
data[["Military_Years_SLR"]].describe()

       Military_Years_SLR
count       475549.000000
mean             1.015199
std              4.489096
min              0.000000
25%              0.000000
50%              0.000000
75%              0.000000
max             33.000000

In [44]:
sum(data["flag_unknownorderwithinday"])

86844

In [32]:
for col in data.columns:
    f2.write(col +'\n')
f2.close()

In [33]:
data[["courtid", "Court_SLR"]][data["courtid"] == 2]

        courtid   Court_SLR
0             2  SAN DIEGO
1             2  SAN DIEGO
2             2  SAN DIEGO
27379         2    NEW YORK
27380         2    NEW YORK
27381         2    NEW YORK
27382         2    NEW YORK
27383         2    NEW YORK
27384         2    NEW YORK
27385         2    NEW YORK
31584         2  SAN DIEGO
31585         2  SAN DIEGO
31586         2  SAN DIEGO
31587         2  SAN DIEGO
31588         2  SAN DIEGO
31589         2  SAN DIEGO
31590         2  SAN DIEGO
31591         2  SAN DIEGO
31592         2  SAN DIEGO
31593         2  SAN DIEGO
31594         2  SAN DIEGO
31595         2  SAN DIEGO
31596         2  SAN DIEGO
31597         2  SAN DIEGO
31598         2  SAN DIEGO
31599         2  SAN DIEGO
31600         2  SAN DIEGO
31601         2  SAN DIEGO
31602         2  SAN DIEGO
31603         2  SAN DIEGO
...         ...         ...
473860        2     ATLANTA
473861        2     ATLANTA
483108        2   ARLINGTON
483109        2   ARLINGTON
483110        2   ARLINGTON
483111        2   ARLINGTON
483112        2   ARLINGTON
483113        2   ARLINGTON
483114        2   ARLINGTON
483115        2   ARLINGTON
483116        2   ARLINGTON
483117        2   ARLINGTON
493743        2      BOSTON
493744        2      BOSTON
493745        2      BOSTON
493746        2      BOSTON
493747        2      BOSTON
493748        2      BOSTON
493749        2      BOSTON
493750        2      BOSTON
493751        2      BOSTON
493752        2      BOSTON
493753        2      BOSTON
493754        2      BOSTON
493755        2      BOSTON
500266        2   SAN DIEGO
500267        2   SAN DIEGO
500268        2   SAN DIEGO
500269        2   SAN DIEGO
500270        2   SAN DIEGO

[1055 rows x 2 columns]

In [4]:
import sklearn.cross_validation

In [52]:
train, test = sklearn.cross_validation.train_test_split(data)

In [54]:
i = 0
for col in data.columns:
    num_values = len(pd.unique(data[col])) 
    if num_values <=3:
        i += 1
        print ('%s: %s' %(col, pd.unique(data[col])))

lawyer: [1 0]
defensive: [  1.   0.  nan]
written: [0 1]
flag_decisionerror_strdes: [0 1]
flag_decisionerror_idncaseproc: [1 0]
flag_earlystarttime: [0 1]
flag_mismatch_base_city: [0 1]
flag_mismatch_hearing: [0 1]
flag_multiple_proceedings: [1 0]
flag_notfirstproceeding: [1 0]
flag_multiple_proceedings2: [0 1]
grant: [ 1.  0.]
flag_notfirstproceeding2: [1 0]
flag_prevprocgrant: [0 1]
flag_prevprocdeny: [0 1]
flag_unknowntime: [0 1]
flag_unknownorderwithinday: [0]
numfamsperslot: [1]
lastindayD: [0 1]
grantraw: [1 0]
L1grant: [ nan   1.   0.]
L1grant_sameday: [0 1]
L2grant: [ nan   1.   0.]
L2grant_sameday: [0 1]
grant2: [ 1.  0.]
L1grant2: [ nan   1.   0.]
L2grant2: [ nan   1.   0.]
moderategrant3070: [0 1]
moderategrantraw3070: [0 1]
outliermeanyear: [  1.   0.  nan]
outliermeannatyear: [  1.   0.  nan]
outliermeannatdefyear: [ nan   1.   0.]
negoutliermeanyear: [  1.   0.  nan]
negoutliermeannatyear: [  1.   0.  nan]
negoutliermeannatdefyear: [ nan   1.   0.]
moderategrantrawnatdef: [0 1]
samenat: [0 1]
haseoir: [1 0]
samedefensive: [1 0]
grantgrant: [ nan   0.   1.]
grantdeny: [ nan   1.   0.]
denygrant: [ nan   0.   1.]
denydeny: [ nan   0.   1.]
morning: [1 0]
lunchtime: [0 1]
afternoon: [0 1]
Gender: ['M' 'F' nan]
Male_judge: [  1.   0.  nan]
experience8: [  0.   1.  nan]
govD: [  0.   1.  nan]
INSD: [  0.  nan   1.]
militaryD: [  0.  nan   1.]
privateD: [  1.   0.  nan]
academicD: [  0.   1.  nan]
democrat: [  1.   0.  nan]
republican: [  0.   1.  nan]

In [9]:
pd.unique(data['defensive'])

array([  1.,   0.,  nan])

In [57]:
data['idncase'].value_counts()

3643221    5
2755615    4
4420422    4
5220275    4
3185520    4
4525664    4
3426943    4
3399811    4
4551906    4
3662894    4
3118828    4
4246477    4
4555255    4
3681525    4
6761801    4
...
2914598    1
3961127    1
3410216    1
5295074    1
4462890    1
2887979    1
6428360    1
4040260    1
3946798    1
3163506    1
6084914    1
2412851    1
5040436    1
5568822    1
3672065    1
Length: 399035, dtype: int64

In [65]:
data[['idncase', 'idnproceeding', 'famcode', 'grant', 'comp_date']][data['idncase'] == 4420422]

        idncase  idnproceeding  famcode  grant  comp_date
279848  4420422        3624810   279847      1      16917
280095  4420422        4401284   280096      0      17870
280177  4420422        5358712   280178      1      18780
280181  4420422        5592037   280182      1      18836

In [3]:
print sum(pd.isnull(data['grant']))
data = data[pd.notnull(data['grant'])]

86844

In [31]:
values = []
for col in data.columns:
    unique_values = len(pd.unique(data[col]))
    values.append((col, unique_values))
col_counts = pd.DataFrame(values, columns = ['column name', 'unique values'])
col_counts.sort(columns='unique values', ascending=False)

                        column name  unique values
28                          famcode         414209
1                     idnproceeding         414209
0                           idncase         399035
64                  raw_order_court         112329
13                       eoirattyid          28057
190                  difmeannatyear          16981
191               difmeannatdefyear          16245
193               absdifmeannatyear          15458
194            absdifmeannatdefyear          14738
189                     difmeanyear          11977
14                      alienattyid          11895
192                  absdifmeanyear          11770
31                     min_osc_date          11763
32                     max_osc_date          11730
33                   min_input_date           8880
34                   max_input_date           8826
176                 natdefcourtcode           8795
4                         comp_date           7609
42                        order_raw           6736
174                    natcourtcode           6013
217            avgnumanycasesperday           4496
186                 lojudgemeanyear           4067
219              avgnumpeopleperday           3822
218         avgnumasylumcasesperday           3468
155         lomeangrantraw_judgenat           2709
63                 prev10_dayslapse           2635
62                  prev9_dayslapse           2601
167      lomeangrantraw_judgenatdef           2580
61                  prev8_dayslapse           2553
60                  prev7_dayslapse           2468
..                              ...            ...
49                           grant2              2
201          moderategrantrawnatdef              2
23                            grant              2
22       flag_multiple_proceedings2              2
21          flag_notfirstproceeding              2
20        flag_multiple_proceedings              2
26                flag_prevprocdeny              2
35                 flag_unknowntime              2
16            flag_mismatch_hearing              2
15          flag_mismatch_base_city              2
12              flag_earlystarttime              2
10   flag_decisionerror_idncaseproc              2
9         flag_decisionerror_strdes              2
148               moderategrant3070              2
8                           written              2
202                         samenat              2
203                         haseoir              2
204                   samedefensive              2
210                         morning              2
211                       lunchtime              2
212                       afternoon              2
41                       lastindayD              2
44                         grantraw              2
5                            lawyer              2
24         flag_notfirstproceeding2              2
48                  L2grant_sameday              2
149            moderategrantraw3070              2
46                  L1grant_sameday              2
37                   numfamsperslot              1
36       flag_unknownorderwithinday              1

[264 rows x 2 columns]

In [14]:
import numpy as np

In [93]:
data['democrat'].value_counts()

1    242393
0    148549
dtype: int64

In [99]:
sum(data['democrat'].isnull())

23267

In [120]:
np.sqrt(len(data) * .80)

633.12115744144899

In [94]:
data['President_SLR'].value_counts()

Clinton    218070
Reagan      64203
Bush I      41186
Bush II     40045
Obama       12613
Carter       8218
Nixon        3115
Ford         2611
Johnson       881
dtype: int64

In [88]:
1971, 1973, 1974, 1975, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 
1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013

,idncase,idnproceeding,hearing_loc_code,ij_code,comp_date,lawyer,defensive,natid,written,flag_decisionerror_strdes,...,log_military_experience,log_private_experience,log_academic_experience,govD,INSD,militaryD,privateD,academicD,democrat,republican
0,3746462,2113503,AGA,AA,15131,1,1,44,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
1,3635079,1980165,AGA,AA,15131,1,0,44,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
2,3998888,2439804,AGA,AA,15132,1,0,44,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
3,6441123,5102185,FLO,AA,18435,0,1,94,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
4,6443250,5104754,FLO,AA,18436,0,1,54,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
5,6414808,5147864,FLO,AA,18437,0,1,54,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
8,2891398,1198824,LVG,AA,13975,1,0,72,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
9,3569624,1903006,LVG,AA,14010,1,0,72,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
10,3054400,1401304,LVG,AA,14013,1,0,72,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
11,4542988,3141536,PHI,AA,16964,1,1,105,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
12,3962592,2387414,PHI,AA,16965,1,1,44,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
13,4580081,3184036,PHI,AA,16965,1,0,91,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
14,3793881,2171517,PHI,AA,16967,1,1,159,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
15,3660389,2009594,PHO,AA,14144,1,0,94,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
16,3574434,1908484,PHO,AA,14220,1,0,152,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
17,3658356,2007237,PHO,AA,14221,1,0,152,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
18,3197094,1575951,PHO,AA,14224,0,0,94,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
19,3612069,1952970,PHO,AA,14250,1,1,172,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
20,4518530,3110949,PHO,AA,16475,1,0,105,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
21,2243321,363907,SND,AA,12877,1,1,108,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
22,2519048,710600,SND,AA,12880,1,1,50,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
23,3089164,1443660,SDE,AA,12893,1,1,72,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
24,3456229,1769469,SND,AA,12898,0,0,94,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
25,2970339,1300646,SND,AA,12901,1,1,94,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
26,2893726,1201696,SND,AA,12914,1,1,185,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
27,3114465,1474817,SND,AA,12920,1,1,94,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
28,3271646,68697,SND,AA,12933,0,1,54,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
29,3271755,68537,SND,AA,12957,1,1,94,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
30,3171912,1545395,SND,AA,12962,1,1,3,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
31,2892250,1200112,SND,AA,12970,1,1,108,0,0,...,0,2.564949,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501023,7059825,5946861,CCA,ZZD,19367,1,1,199,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501024,6934165,5765405,CCA,ZZD,19369,1,1,152,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501025,7004861,5867941,CCA,ZZD,19369,1,1,152,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501026,7011925,5878227,CCA,ZZD,19372,1,1,102,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501027,6978176,5828681,CCA,ZZD,19374,1,NaN,94,1,0,...,0,0.000000,0,1,1,0,0,0,1,0
501028,7029291,5903192,CCA,ZZD,19381,0,1,102,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501029,7059820,5946852,CCA,ZZD,19382,0,1,199,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501030,7044373,5924657,CCA,ZZD,19388,1,NaN,102,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501031,7007103,5871135,CCA,ZZD,19394,0,1,20,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501032,7050949,5933750,CCA,ZZD,19400,1,1,199,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501033,6944985,5780699,CCA,ZZD,19403,1,1,161,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501034,7059824,5946857,CCA,ZZD,19411,1,1,199,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501035,7079638,5975787,CCA,ZZD,19411,1,1,112,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501036,6850886,5644847,CCA,ZZD,19414,1,1,161,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501037,7063479,5952538,CCA,ZZD,19425,0,1,152,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501038,7024367,5895874,CCA,ZZD,19430,1,1,3,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501039,7029291,6085159,CCA,ZZD,19450,0,1,102,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501040,6982652,5859166,CCA,ZZD,19451,1,NaN,152,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501041,7092535,5994594,CCA,ZZD,19456,1,1,199,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501042,2737790,5803401,CCA,ZZD,19486,1,1,185,0,1,...,0,0.000000,0,1,1,0,0,0,1,0
501043,7126422,6045858,CCA,ZZD,19493,1,1,199,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501044,6909674,5729667,CCA,ZZD,19494,1,1,152,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501045,7126418,6045852,CCA,ZZD,19498,1,1,73,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501046,7152492,6085556,CCA,ZZD,19508,1,1,152,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501047,4526780,3773843,TUC,ZZD,17188,1,1,44,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501048,3684930,3564049,TUC,ZZD,17244,1,0,44,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501049,5239207,3701148,TUC,ZZD,17300,1,0,44,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501050,5132664,3895299,TUC,ZZD,17301,1,0,44,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501051,5132659,3883061,TUC,ZZD,17302,1,0,44,0,0,...,0,0.000000,0,1,1,0,0,0,1,0
501052,5416500,3923983,TUC,ZZD,17303,1,0,44,0,0,...,0,0.000000,0,1,1,0,0,0,1,0

In [71]:
data[['ij_code', 'courtid', 'ij_court_code', 'hearing_loc_code', 'year']]

       ij_code  courtid  ij_court_code hearing_loc_code  year
0           AA        2              1              AGA  2001
1           AA        2              1              AGA  2001
2           AA        2              1              AGA  2001
3           AA       18              2              FLO  2010
4           AA       18              2              FLO  2010
5           AA       18              2              FLO  2010
8           AA       29              6              LVG  1998
9           AA       29              6              LVG  1998
10          AA       29              6              LVG  1998
11          AA       39              7              PHI  2006
12          AA       39              7              PHI  2006
13          AA       39              7              PHI  2006
14          AA       39              7              PHI  2006
15          AA       40              8              PHO  1998
16          AA       40              8              PHO  1998
17          AA       40              8              PHO  1998
18          AA       40              8              PHO  1998
19          AA       40              8              PHO  1999
20          AA       40              8              PHO  2005
21          AA       50             11              SND  1995
22          AA       50             11              SND  1995
23          AA       50             11              SDE  1995
24          AA       50             11              SND  1995
25          AA       50             11              SND  1995
26          AA       50             11              SND  1995
27          AA       50             11              SND  1995
28          AA       50             11              SND  1995
29          AA       50             11              SND  1995
30          AA       50             11              SND  1995
31          AA       50             11              SND  1995
...        ...      ...            ...              ...   ...
501023     ZZD       50           4070              CCA  2013
501024     ZZD       50           4070              CCA  2013
501025     ZZD       50           4070              CCA  2013
501026     ZZD       50           4070              CCA  2013
501027     ZZD       50           4070              CCA  2013
501028     ZZD       50           4070              CCA  2013
501029     ZZD       50           4070              CCA  2013
501030     ZZD       50           4070              CCA  2013
501031     ZZD       50           4070              CCA  2013
501032     ZZD       50           4070              CCA  2013
501033     ZZD       50           4070              CCA  2013
501034     ZZD       50           4070              CCA  2013
501035     ZZD       50           4070              CCA  2013
501036     ZZD       50           4070              CCA  2013
501037     ZZD       50           4070              CCA  2013
501038     ZZD       50           4070              CCA  2013
501039     ZZD       50           4070              CCA  2013
501040     ZZD       50           4070              CCA  2013
501041     ZZD       50           4070              CCA  2013
501042     ZZD       50           4070              CCA  2013
501043     ZZD       50           4070              CCA  2013
501044     ZZD       50           4070              CCA  2013
501045     ZZD       50           4070              CCA  2013
501046     ZZD       50           4070              CCA  2013
501047     ZZD       53           4071              TUC  2007
501048     ZZD       53           4071              TUC  2007
501049     ZZD       53           4071              TUC  2007
501050     ZZD       53           4071              TUC  2007
501051     ZZD       53           4071              TUC  2007
501052     ZZD       53           4071              TUC  2007

[414209 rows x 5 columns]

In [73]:
data['numfamsperslot'].value_counts()

1     444721
2      42826
3       7788
4       2844
5       1350
6        924
7        301
8        128
9        117
10        30
12        24
dtype: int64

In [75]:
data['numfamsperslot'].value_counts()

1    414209
dtype: int64

In [81]:
data[(data['Male_judge'] == 1) & (data['Gender'] == 'F')]

Empty DataFrame
Columns: [idncase, idnproceeding, hearing_loc_code, ij_code, comp_date, lawyer, defensive, natid, written, flag_decisionerror_strdes, flag_decisionerror_idncaseproc, adj_time_start, flag_earlystarttime, eoirattyid, alienattyid, flag_mismatch_base_city, flag_mismatch_hearing, courtid, ij_court_code, numanycasesperday, flag_multiple_proceedings, flag_notfirstproceeding, flag_multiple_proceedings2, grant, flag_notfirstproceeding2, flag_prevprocgrant, flag_prevprocdeny, numasylumcasesperday, famcode, numinfamily, numpeopleperday, min_osc_date, max_osc_date, min_input_date, max_input_date, flag_unknowntime, flag_unknownorderwithinday, numfamsperslot, numfamsperday, orderwithinday, orderwithindayraw, lastindayD, order_raw, comp_dow, grantraw, L1grant, L1grant_sameday, L2grant, L2grant_sameday, grant2, L1grant2, L2grant2, numgrant_prev5, numgrant_prev6, numgrant_prev7, numgrant_prev8, numgrant_prev9, numgrant_prev10, prev5_dayslapse, prev6_dayslapse, prev7_dayslapse, prev8_dayslapse, prev9_dayslapse, prev10_dayslapse, raw_order_court, numcourtgrant_prev5, numcourtgrantself_prev5, numcourtdecideself_prev5, numcourtgrant_prev6, numcourtdecideself_prev6, numcourtgrantself_prev6, numcourtgrant_prev7, numcourtdecideself_prev7, numcourtgrantself_prev7, numcourtgrant_prev8, numcourtdecideself_prev8, numcourtgrantself_prev8, numcourtgrant_prev9, numcourtdecideself_prev9, numcourtgrantself_prev9, numcourtgrant_prev10, numcourtdecideself_prev10, numcourtgrantself_prev10, numcourtgrant_prev11, numcourtdecideself_prev11, numcourtgrantself_prev11, numcourtgrant_prev12, numcourtdecideself_prev12, numcourtgrantself_prev12, numcourtgrant_prev13, numcourtdecideself_prev13, numcourtgrantself_prev13, numcourtgrant_prev14, numcourtdecideself_prev14, numcourtgrantself_prev14, numcourtgrant_prev15, numcourtdecideself_prev15, numcourtgrantself_prev15, numcourtgrant_prev16, numcourtdecideself_prev16, ...]
Index: []

[0 rows x 264 columns]

In [6]:
len(pd.unique(data['ij_code']))

426

In [5]:
len(pd.unique(data['natid']))

227

In [7]:
len(pd.unique(data['year']))

40

In [4]:
data.shape

(414209, 264)

In [7]:
data.sort(columns='comp_date', ascending=False, inplace=True)

In [11]:
.10*data.shape[0]

41420.9

In [19]:
data.iloc[:7755]['year']

176574    2013
374062    2013
47134     2013
1515      2013
97310     2013
302725    2013
302724    2013
366858    2013
400968    2013
480347    2013
310232    2013
165941    2013
10584     2013
54201     2013
211230    2013
...
60449     2013
168543    2013
389488    2013
127570    2013
388621    2013
455624    2013
47016     2013
419243    2013
278389    2013
105715    2013
135323    2013
189836    2013
190911    2013
64293     2013
92479     2013
Name: year, Length: 7755, dtype: int64

In [17]:
len(data[data['year'] == 2013])

7755